<nav class="navbar navbar-expand-lg navbar-light bg-white shadow-2">
    <!-- wrapper -->
    <div class="container-fluid">
        <a class="navbar-brand me-2" href="/" draggable="false">
            <img
                src="https://cdn.discordapp.com/avatars/967324751133552650/ff3861086aa2f506d1f8df0cc28e6612.webp?size=128"
                alt="Logo"
                class="icon"
                loading="lazy"
                style="margin-top: -1px"
                height="16"
            />
        </a>

        <!-- toogle wrapper -->
        <button
            class="navbar-toggler"
            type="button"
            data-mdb-toggle="collapse"
            data-mdb-target="#navbarButtonsExample"
        >
            <i class="fas fa-bars"></i>
        </button>

        <!--  collapsible wrapper  -->

        <div class="collapse navbar-collapse" id="navbarButtonsExample">
            <!-- Left links -->
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link">Commands</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link">Support</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link">Invite</a>
                </li>
            </ul>
            <!-- Left links -->
            <div class="d-flex align-items-center">
                <button
                    type="button"
                    class="btn btn-dark login me-3"
                    style="min-width: auto"
                    onclick="window.location.href='/login'"
                >
                    Login<i class="fab fa-discord p-1 ps-2"></i>
                </button>
            </div>
        </div>
    </div>
</nav>
