.icon {
    width: 2.5rem;
    height: 2.5rem;
    cursor: pointer;
    border-radius: 50%;
    transition: all 0.2s ease-in-out;
}

.icon:hover {
    transform: scale(1.1);
}

.login:hover {
    border-radius: 5px;
}

.nav-link {
    cursor: pointer;
}

.card {
    transition: all 0.4s ease-in-out;
}

.card:hover {
    transform: scale(1.05);
}
