<!DOCTYPE html>
<html lang="en">
    <head>
        <%- include("./components/head.ejs") %>
        <title>Botly</title>
    </head>
    <body>
        <%- include("./components/nav.ejs") %>

        <!-- main wrapper -->
        <div class="py-5 text-center bg-light">
            <div class="container pb-md-5">
                <div class="row d-flex justify-content-center">
                    <div class="col-lg-10">
                        <h1 class="my-5 display-3 fw-bold ls-tight">
                            <span>The only bot</span>
                            <br />
                            <span class="text-dark">you need</span>
                        </h1>

                        <a
                            class="btn btn-black py-3 px-5 mb-5 mb-md-0"
                            data-ripple-color="primary"
                            href="#"
                            role="button"
                            >Invite<i class="fab fa-discord p-1 ps-2"></i
                        ></a>
                    </div>
                </div>
            </div>
        </div>

        <!-- feature wrapper -->
        <section class="container pt-5">
            <section class="mb-10 text-center">
                <h2 class="fw-bold mb-5 text-center">
                    <span class="me-1">Why use Botly?</span
                    ><u class="text-primary"></u>
                </h2>
                <div class="row gx-lg-5">
                    <div class="col-md-4 mb-5 mb-md-0">
                        <div
                            class="p-3 bg-dark rounded-4 shadow-2-strong d-inline-block mb-4"
                        >
                            <i class="fas fa-globe fa-lg text-white fa-fw"></i>
                        </div>
                        <h5 class="fw-bold mb-3">Online 24/7<br /></h5>
                        <p class="text-muted mb-0">
                            Botly is online 24/7. And its only down if we are
                            rebooting botly!<br />
                        </p>
                    </div>
                    <div class="col-md-4 mb-5 mb-md-0">
                        <div
                            class="p-3 bg-dark rounded-4 shadow-2-strong d-inline-block mb-4"
                        >
                            <i
                                class="fas fa-shield-alt fa-lg text-white fa-fw"
                            ></i>
                        </div>
                        <h5 class="fw-bold mb-3">Safe<br /></h5>
                        <p
                            class="text-muted mb-0"
                            data-builder-edit="text"
                            data-builder-name="text6"
                            contenteditable="true"
                        >
                            All you data is protected in a secure database. So
                            no one can access your data.<br />
                        </p>
                    </div>
                    <div class="col-md-4 mb-5 mb-md-0">
                        <div
                            class="p-3 bg-dark rounded-4 shadow-2-strong d-inline-block mb-4"
                        >
                            <i
                                class="fas fa-shipping-fast fa-lg text-white fa-fw"
                            ></i>
                        </div>
                        <h5 class="fw-bold mb-3">Extremely fast</h5>
                        <p class="text-muted mb-0">
                            The bot responds very fast when you use commands.
                            The bot is never slow.<br />
                        </p>
                    </div>
                </div>
            </section>
        </section>

        <hr style="margin: auto; width: 80%" size="5" />

        <!-- team wrapper -->

        <section class="container pt-5">
            <section class="mb-10 text-center">
                <h2 class="fw-bold mb-10">
                    <span>Meet the team</span>
                </h2>
                <div class="row gx-lg-5">
                    <div class="col-lg-4 mb-10 mb-lg-0">
                        <div class="card shadow-2-strong h-100">
                            <div
                                class="d-flex justify-content-center"
                                style="margin-top: -75px"
                            >
                                <img
                                    src="https://cdn.discordapp.com/avatars/921014431427743784/cba26de37406d169841ddbda77930d38.webp?size=56"
                                    class="rounded-circle shadow-5-strong"
                                    alt=""
                                    style="width: 150px; height: 150px"
                                />
                            </div>
                            <div class="card-body">
                                <h5 class="fw-bold">flade#2937<br /></h5>
                                <p class="text-muted">Bot Developer<br /></p>
                                <ul class="list-unstyled mb-0">
                                    <a
                                        href="https://github.com/lassv"
                                        class="px-1"
                                    >
                                        <i class="fab fa-github"></i>
                                    </a>
                                    <a
                                        href="https://twitter.com/lassv_05"
                                        class="px-1"
                                    >
                                        <i class="fab fa-twitter"></i>
                                    </a>
                                    <a
                                        href="https://discord.com/users/921014431427743784"
                                        class="px-1"
                                    >
                                        <i class="fab fa-discord"></i>
                                    </a>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 mb-10 mb-lg-0">
                        <div class="card shadow-2-strong h-100">
                            <div
                                class="d-flex justify-content-center"
                                style="margin-top: -75px"
                            >
                                <img
                                    src="https://cdn.discordapp.com/avatars/402205674051862529/e054ef1f5e6a944a8a4635a1c9ac3185.webp?size=240"
                                    class="rounded-circle shadow-5-strong"
                                    alt=""
                                    style="width: 150px; height: 150px"
                                />
                            </div>
                            <div class="card-body">
                                <h5 class="fw-bold">Daddy 𝐂𝐚𝐬𝐞#6969</h5>
                                <p class="text-muted">
                                    Support Team and Moderator<br />
                                </p>
                                <ul class="list-unstyled mb-0">
                                    <a
                                        href="https://discord.com/users/402205674051862529"
                                        class="px-1"
                                    >
                                        <i class="fab fa-discord"></i>
                                    </a>

                                    <a
                                        href="https://www.youtube.com/channel/UCFmJ4DTqXFDT21YrSu7YFAA"
                                        class="px-1"
                                    >
                                        <i class="fab fa-youtube"></i>
                                    </a>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </section>

        <%- include("./components/footer.ejs") %>
    </body>
</html>
